$brand-gray-1: #000;
$brand-gray-2: #252a35;
$brand-gray-3: #2a2f3a;
$brand-gray-4: #393e4b;
$brand-light-gray-1: #a0a2ad;
$brand-light-gray-2: #c9cad3;
$brand-light-gray-3: #eaecf1;
$brand-light-gray-4: #f8f9fc;
$brand-white: #fff;
$brand-blue-1: #2583e3;
$brand-blue-2: #7cb4ee;
$brand-yellow-1: #e2d891;
