@import './colors';
@import './utility';

body {
  background-color: $brand-gray-2;
  box-sizing: border-box;
  color: $brand-light-gray-4;
  font-family: "proxima-nova",sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
}

* {
  box-sizing: border-box;
}

a {
  color: $brand-blue-1;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: $brand-blue-2;
  }
}

img {
  max-width: 100%;
}

cite {
  display: block;
}

input[type="text"] {
  height: 4rem;
  padding: .5rem;
  width: 100%;
  font-size: 2rem;
  background: $brand-gray-2;
  border: 0;
  color: $brand-light-gray-1
}

::placeholder {
  color: $brand-light-gray-1;
}

h1 {
  color: $brand-light-gray-3;
  font-size: 27px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;

  a {
    color: $brand-light-gray-3;
  }
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  li {
    flex-grow: 0;
    margin-right: 5px;
  }
}

small {
  font-size: 60%;
  color: $brand-blue-2;
}

b,
strong {
  color: $brand-yellow-1;
  font-size: 110%;
}

[ng-click] {
  cursor: pointer;
}

.pull-right {
  float: right;
}

.container {
  background: $brand-gray-4;
  border-radius: 2px;
  margin: 0 auto 2rem;
  max-width: 50rem;
  padding: 0;
}

.radio-grid {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 50rem;
  width: 100%;

  label {
    border-radius: 2px;
    cursor: pointer;
    flex: 1;
    padding: 10px 0;
    position: relative;
    text-align: center;

    &:hover {
      color: $brand-light-gray-2;
    }

    input {
      cursor: pointer;
      visibility: hidden;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 100%;

      &:before,
      &:after {
        content: '';
        visibility: visible;
        position: absolute;
        transition: all 250ms;
        display: block;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      &:checked + span {
        color: $brand-blue-1;
      }

      &:checked:after {
        border-bottom: 2px solid $brand-blue-1;
      }
    }
  }
}

body.min header {
  height: 5rem;
  border-bottom: 1px solid $brand-gray-3;

  svg {
    margin: 1rem;
  }
}

header {
  border-bottom: 1px solid $brand-gray-2;
  background: $brand-gray-2;
  display: flex;
  position: fixed;
  width: 100vw;
  justify-content: center;
  top: 0;
  transition: all 250ms;
  z-index: 2;
  height: 10rem;

  svg {
    margin: 2rem;
  }
}

.header-spacer {
  margin-top: 11rem;
  padding: 2rem;
}

ui-view {
  margin-top: 2rem;
}

figure {
  margin: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
